@media screen and (max-width: 10000px) {
    .socialM {
        visibility: hidden;
    }
}

@media screen and (max-width: 1024px) {
    img {
        width: 150px;
        margin-top: 9%;
    }

    h1 {
        font-size: 200%;
        margin-top: 2%;
    }

    h3 {
        font-size: 80%;
        margin-top: -0.5%;
    }

    nav {
        visibility: hidden;
    }

    .socialM {
        visibility: visible;
    }

    table {
        height: 50px;
    }
}