#discord {
    color: #e1e1e1;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-decoration: none;
    transition: 0.50s;
    font-size: 95%;
    padding: .3em 2em;
    border: 2px solid #007ec7;
    border-radius: 5px;
    margin-right: 0.5%;
    box-shadow:0 0 10px #007ec7;
}
#discord:hover, #discord:focus {
    outline: 0;
    background-color: #007ec7;
    box-shadow:0 0 0px #007ec7;
    color: black;
}

#github {
    color: #e1e1e1;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-decoration: none;
    transition: 0.50s;
    font-size: 95%;
    padding: .3em 2em;
    border: 2px solid #000000;
    box-shadow:0 0 10px #000000;
    border-radius: 5px;
    margin-right: 0.5%;
}
#github:hover, #github:focus {
    outline: 0;
    background-color: #e6e6e6;
    box-shadow:0 0 0px #e6e6e6;
    border: 2px solid #e6e6e6;
    color: black;
}

#youtube {
    color: #e1e1e1;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-decoration: none;
    transition: 0.50s;
    font-size: 95%;
    padding: .3em 2em;
    border: 2px solid #ff3d3d;
    box-shadow:0 0 10px #ff3d3d;
    border-radius: 5px;
    margin-right: 0.5%;
}
#youtube:hover, #youtube:focus {
    outline: 0;
    background-color: #ff3d3d;
    box-shadow:0 0 0px #ff3d3d;
    color: black;
}

#vk {
    color: #e1e1e1;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-decoration: none;
    transition: 0.50s;
    font-size: 95%;
    padding: .3em 2em;
    border: 2px solid #16a7fc;
    box-shadow:0 0 10px #16a7fc;
    border-radius: 5px;
    margin-right: 0.5%;
}
#vk:hover, #vk:focus {
    outline: 0;
    background-color: #16a7fc;
    box-shadow:0 0 0px #16a7fc;
    color: black;
}

#spotify {
    color: #e1e1e1;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-decoration: none;
    transition: 0.50s;
    font-size: 95%;
    padding: .3em 2em;
    border: 2px solid #1ed760;
    box-shadow:0 0 10px #1ed760;
    border-radius: 5px;
    margin-right: 0.5%;
}
#spotify:hover, #spotify:focus {
    outline: 0;
    background-color: #1ed760;
    box-shadow:0 0 0px #1ed760;
    color: black;
}





#discordM {
    color: #e1e1e1;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-decoration: none;
    transition: 0.50s;
    font-size: 95%;
    padding: .3em 2em;
    border: 2px solid #007ec7;
    border-radius: 5px;
    margin-right: 0.5%;
    box-shadow:0 0 10px #007ec7
}
#discordM:hover, #discordM:focus {
    outline: 0;
    background-color: #007ec7;
    box-shadow:0 0 0px #007ec7;
    color: black;
}

#githubM {
    color: #e1e1e1;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-decoration: none;
    transition: 0.50s;
    font-size: 95%;
    padding: .3em 2em;
    border: 2px solid #000000;
    box-shadow:0 0 10px #000000;
    border-radius: 5px;
    margin-right: 0.5%;
}
#githubM:hover, #githubM:focus {
    outline: 0;
    background-color: #e6e6e6;
    box-shadow:0 0 0px #e6e6e6;
    border: 2px solid #e6e6e6;
    color: black;
}

#youtubeM {
    color: #e1e1e1;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-decoration: none;
    transition: 0.50s;
    font-size: 95%;
    padding: .3em 2em;
    border: 2px solid #ff3d3d;
    box-shadow:0 0 10px #ff3d3d;
    border-radius: 5px;
    margin-right: 0.5%;
}
#youtubeM:hover, #youtubeM:focus {
    outline: 0;
    background-color: #ff3d3d;
    box-shadow:0 0 0px #ff3d3d;
    color: black;
}

#vkM {
    color: #e1e1e1;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-decoration: none;
    transition: 0.50s;
    font-size: 95%;
    padding: .3em 2em;
    border: 2px solid #16a7fc;
    box-shadow:0 0 10px #16a7fc;
    border-radius: 5px;
    margin-right: 0.5%;
}
#vkM:hover, #vkM:focus {
    outline: 0;
    background-color: #16a7fc;
    box-shadow:0 0 0px #16a7fc;
    color: black;
}

#spotifyM {
    color: #e1e1e1;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-decoration: none;
    transition: 0.50s;
    font-size: 95%;
    padding: .3em 2em;
    border: 2px solid #1ed760;
    box-shadow:0 0 10px #1ed760;
    border-radius: 5px;
    margin-right: 0.5%;
}
#spotifyM:hover, #spotifyM:focus {
    outline: 0;
    background-color: #1ed760;
    box-shadow:0 0 0px #1ed760;
    color: black;
}