html {
    height: 100%;
}

body {
    background-color: #273036;
    margin: 0;
    overflow-x: hidden;
    min-height: 100%;
}

img {
    border-radius: 1000px;
    border: 3px solid #1f2529;
    box-shadow:0 0 20px #000000;
    width: 280px;
    margin-top: 6%;
}

h1 {
    color: #d7d7d7;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    font-size: 300%;
    text-shadow: 1px 1px 2px #d7d7d7, 0 0 1em rgb(46, 46, 46);
    margin-top: 1%;
}

h3 {
    color: #969696;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    font-size: 100%;
    margin-top: -0.5%;
}
.description {
    margin-top: -0.5%;
}

table {
    box-shadow: 0px 0px 10px #000000;
}

nav {
    margin-top: 2.5%;
}